.vacinas {
    font-size: 14px;
    font-weight: bold;
    width: 1000px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%)
}

tbody, thead tr {
    display: block;
}

tbody {
    height: 400px;
    overflow-y: auto;
}

tbody td, thead th {
    width: 180px;
}

table, th, td {
    border-collapse: collapse;
    text-align: center;
}

th {
    padding: 20px 10px;
    background-color: #3C447E;
    color: white;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f8f6ff;
}

tr:nth-child(odd) {
    background-color: #fff;
}