footer {
    height: 100px;
    background-color: #3C447E;
    display: flex;
    align-items: center;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 1000px;
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.footer>p {
    margin: 0;
}

.footer__location>p,
.footer__contact>p {
    margin: 0px 0px 0px 5px;
}

.footer__location {
    display: flex;
    align-items: center;
}

.footer__contact {
    display: flex;
    align-items: center;
}