.header {
    background: whitesmoke;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    padding: 0.2rem calc((100vw - 1000px) / 2);
    z-index: 12;
    font-size: 20px;
}

.link {
    color: #000000;
    opacity: 0.5;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 48px 0 48px;
    height: 100%;
    cursor: pointer;
}

.link--active {
    color: #FF425F;
    opacity: 1;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 48px 0 48px;
    height: 100%;
    cursor: pointer;
}

.link:hover {
    color: #000000;
    opacity: 0.7;
}